// 미디어쿼리 설정
@use '../media' as view;

// 커스텀 설정
@use '../mixin' as fun;

// 변수 설정
@import "../variables.scss";

.section-2 {
    height: 100vh;
    overflow: hidden;
    &__wrap {
        height: calc(100% - 200px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-size: 2.5em;
        text-transform: uppercase;
        color: hsl(189, 77.3%, 50%);
        text-shadow: 0.1rem 0.1rem 0.1rem hsla(0, 100%, 0%, 0.7);

        margin-top: 0.5em;
        margin-bottom: 2em;

        @include fun.Debug(red);
        // background-color: $color-white;

        opacity: 0;
    }

    // 정렬 컨테이너
    &__flexbox {
        height: calc(100% - 7em);
        @include fun.Debug(tomato);

        @include fun.FlexboxSetting(row, center, center, 2em);
        // padding-top: 10rem;
        background-color: #444;

        &::before {
            content: "";
            width: 100vw;
            height: 100%;

            background-color: #444;
            position: absolute;
            z-index: -1;
        }
    }

    // 가상 박스
    &__template {
        width: 50%;
        height: 100%;
        text-align: left;
        & > video {
            width: 100%;
            vertical-align: middle;
            object-fit: cover;
        }
        color: $color-white;
        opacity: 0.4;
        transition: opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    &__text {
        font-size: $font-size-default;

        margin-top: 2em;
        padding-right: 2em;
        margin-bottom: 0;
        letter-spacing: 0.2rem;
        line-height: 1.5;
        text-shadow: 1px 1px 1px #222;
    }

    &__subtitle {
        font-size: $font-size-bigtext;

        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    &__button {
        display: inline-block;
        margin: 2em 0;
        padding: 0.5em 2em;

        border: 2px solid #c8e21d;
        border-radius: 25px;

        color: #fff;

        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

        &:hover {
            color: #c8e21d;
            border: 2px solid #fff;
        }
    }

    &.active {
        .section-2 {
            &__title {
                opacity: 1;

                transition: opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
            }

            &__template {
                opacity: 1;
                transition: opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
        }
    }
}

@include view.Tablet {
    .section-2 {
        &__flexbox {
            @include fun.FlexboxSetting(column, center, center, 2em);
        }

        &__template {
            text-align: center;
            width: 100%;
            height: 50%;
        }
        &__text {
            margin-left: 1em;
        }
    }
}
@include view.Mobile {
    .section-2 {
        &__flexbox {
            @include fun.FlexboxSetting(column, center, center, 2em);
        }

        &__template {
            width: 100%;
            height: 50%;
        }
    }
}
