/* Section-1 */
.section-1
{
    position : relative;
    height : 100vh;

    background-color: hsla(0,100%,0%);
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
/* 회색배경 */
.section-1::before
{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    left : 0;
    top : 0;
    background-color: hsla(0,100%,0%,.7);

    z-index: 0;
}
.container__section-1
{
    display: flex;

    justify-content: center;
    align-items: center;

    color : hsl(0,0%,100%);

    padding-top : 100px;
}

.section-1__title
{
    position: relative;
    font-size: 4.2em;

    color : hsl(0,0%,100%);
    font-family: 'Black Han Sans', sans-serif;

    text-shadow: .1em .1em 4em #fff,
            .1rem .1rem .2rem #666
    ;
}

.section-1__scroll
{

    position : absolute;

    bottom : 2em;
    text-align: center;
}

.section-1__scrollText
{
    font-size: 1em;
    
    text-transform: uppercase;
}

/* End of Section-1 */

/* article */
.article__container
{
    height: 100px;
    padding : 2rem;
    text-align: center;
}
.article__title
{
    font-size: 2.5em;
    text-transform: uppercase;
    color : hsl(189, 77.3%, 50.0%);
    text-shadow: .1rem .1rem .1rem hsla(0,100%,0%,.7);
}
/* End of article */

/* Section-2 */
.section-2
{
    /* 100vh - header - article */
    height: calc(100vh - 200px);
}

.container__grid
{
    width: 100%;
    height: 90%;

    background-color: #444;
}

/* Grid 지원하는가 ? */
@supports (display: grid)
{
    .container__grid
    {
        
        display: grid;

        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows : 1fr;
        grid-template-areas: "left right";
    }
    .section-2__left
    {
        grid-area: left;
        grid-row: 1 / 2;
        grid-column: 1/ 2;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-2__right
    {
        grid-area: right;
        grid-row : 2 / -2;
        grid-column: 2 / 3;
    }
}
/* 지원 안할 경우 */
@supports not (display: grid)
{
    .container__grid
    {
        overflow: hidden;
    }

    .section-2__left
    {
        width: 50%;
        height: 100%;
        float:left;
    }
    .section-2__right
    {
        width: 50%;
        height: 100%;
        float : left;
    }
}

.section-2__videoContainer
{
    width: calc(100% - 4em);
    height:  calc(100% - 4em);

    background-color: black;
    box-shadow: 1px 1px 5px hsla(0,100%,0%,.7);
    padding : 2em;
}
.section-2__video
{
    width: 100%;
    height: 100%;

    object-fit: cover;
    vertical-align: middle;
}
.section-2__textContainer
{
    text-align: left;
    
    padding : 1em;
    color : #fff;
}

.section-2__text
{
    margin : 2em 0 0;
    font-size: 1em;

    width: 80%;
}
.section-2__title
{
    font-size: 1.5em;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: .1rem .1rem .1rem #fff;
}
.section-2__button
{
    display: inline-block;
    margin : 2em 0;
    padding : 1em 2em;

    border : 2px solid #C8E21D;
    border-radius: 25px;

    color : #fff;
}
/* End of Section-2 */

/* Section-3 */
.section-3
{
    /* 100vh - header */
    height: calc(100vh - 100px);
    width: 100%;
    background-image: url('../images/section-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* End of Section-3 */

/* Section-4 */
.section-4
{
    /* 100vh - header */
    height: calc(100vh - 100px);
    text-align: center;
}


.section-4__subtitle
{
    font-size: 1.5em;
    letter-spacing: 5px;
}

:is(.section-4__title, .section-5__title, .section-6__title)
{
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: 5px; 
    text-transform: uppercase;

    margin-top: 3em;
}
:is(.section-4__subtitle, .section-5__subtitle, .section-6__subtitle)
{
    font-size: 1.5em;
    letter-spacing: 5px;
}
:is(.section-4__button, .section-5__button, .section-6__button)
{
    display: inline-block;

    margin: 2em 0;

    padding : .6em 2em;

    background-color: hsl(189, 77.3%, 50.0%);
    color : hsl(0,0%,100%);
    border-radius: 5px;

    font-size: 1.2em;
}
.section-4__button
{
    display: inline-block;

    margin: 2em 0;

    padding : .6em 2em;

    background-color: hsl(189, 77.3%, 50.0%);
    color : hsl(0,0%,100%);
    border-radius: 5px;

    font-size: 1.2em;
}

/* 카드 */

.section-4__world
{
    height: 400px;
    transform-style: preserve-3d;
    perspective: 1300px;

    position : relative;
    text-align: left;
}

.section-4__card
{
    position : absolute;
    width : 300px;


    background-color: wheat;

    margin : 5px;

    overflow: hidden;

    transition: all .5s ease-in-out;

}

/* 추가 */
.section-4__card:nth-child(1)
{
    left : 2rem;
    bottom : 5rem;

    transform: rotateY(45deg) translate3d(5rem, 0, -50px);
}
.section-4__card:nth-child(2)
{
    left : 50%;
    bottom: 5rem;

    transform: translateX(-50%) translateZ(-100px) rotateY(0deg);
}
.section-4__card:nth-child(3)
{
    right : 2rem;
    bottom : 5rem;
    transform: rotateY(-45deg) translate3d(-5rem, 0, -50px) ;
}
.section-4__cardTitle
{
    font-size: 1.5em;
    font-weight: 400;
    margin : 1rem 2rem;
}
.section-4__cardText
{
    margin : 1rem 2rem;
}
/* End of Section-4 */

/* Section-5 */
.section-5
{
    /* 100vh - header */
    height: calc(100vh - 100px);
    text-align: center;
}
.section-5__gridContainer
{
    height: 70%;

    /* background-color: #666; */

    display: grid;

    grid-template-columns: .5fr .5fr;
    grid-template-rows: .5fr .5fr;
    grid-template-areas: 
    "img00 img01"
    "img00 img02"
    ;
    gap : 1em;
}

.section-5__img00
{
    display: inline-block;
    width: 100%;
    height: 100%;
    grid-area: img00;
    

    background-color: #C8E21D;

    background-image: url('../images/img_garden_tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.section-5__img01
{
    display: inline-block;
    width: 100%;
    height: 100%;
    grid-area: img01;
    

    background-color: #454735;

    background-image: url('../images/img_beef_tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.section-5__img02
{
    display: inline-block;
    width: 100%;
    height: 100%;
    grid-area: img02;
    

    background-color: #bb1de2;

    background-image: url('../images/img_fallwater_tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* End of Section-5 */

/* Section-6 */
.section-6
{
    height: calc(100vh - 100px);
    text-align: center;
}

.section-6__gallery
{

    width: 100%;
    height: 50%;
    display: flex;

    justify-content: space-between;
    align-items: center;

    gap: 1em;
}

.section-6__image
{
    display: inline-block;

    width: 33%;
    height: 100%;

    object-fit: cover;
}