$font-size-mainTitle: 4.2em;
$font-size-subTitle: 2.5em;
$font-size-bigtext: 1.8em;
$font-size-middletext: 1.5em;
$font-size-default: 1em;
$font-size-smalltext: 0.8em;

$color-white: hsl(0, 0%, 100%);
$color-cyan: hsl(189, 77.3%, 50%);
$color-graydark: #444;

$font-name-title: "Black Han Sans";
$font-name-default: "Noto Sans KR";