// 미디어쿼리 설정
@use '../media' as view;

// 커스텀 설정
@use '../mixin' as fun;

// 헤더 배경화면
$header-backgroundcolor: hsl(0, 0%, 0%, 0);

// 해더 호버 배경화면
$header-backgroundcolor-hover: hsla(0, 0%, 0%, 1);

$hamburgerSize: 64px;
// Header Style Start
.header {
    // 크기 설정
    width: 100%;
    height: 100px;

    background-color: $header-backgroundcolor;

    position: fixed;
    top: 0;
    left: 0;

    box-shadow: none;
    z-index: 1000;

    // overflow: hidden;

    transition: background-color 0.7s ease-in, box-shadow 0.7s linear;

    // ! Hover
    &:hover {
        background-color: $header-backgroundcolor-hover;
        box-shadow: 0.1rem 0.1rem 0.4rem rgb(27, 27, 27);
    }

    // Container
    &__wrap {
        @include fun.wrapSetting;
        @include fun.Debug(yellow);
    }

    // Flexbox
    &__flexbox {
        width: inherit;
        height: inherit;

        @include fun.FlexboxSetting(row, space-between, center);
    }

    // LOGO
    &__logo {
        width: 150px;

        @include fun.Debug();

        // Image
        & img {
            width: 100%;
            vertical-align: middle;
        }
    }

    // GNB 메뉴
    &__gnb {
        @include fun.Debug(red);

        width: 60%;
    }

    // Icon 메뉴
    &__icon {
        @include fun.Debug(yellow);

        @include fun.FlexboxSetting(row, space-between, center, 1em);
    }

    // Hamburger
    &__hamburger {
        position: relative;
        width: $hamburgerSize;
        height: $hamburgerSize;
        cursor: pointer;
        display: none;
        @include fun.Debug(rgb(97, 255, 145));
        // border: 1px solid #fff;

        &:hover .hamburger__line {
            &--first {
                transform: translateX(-50%) scale(0.95) rotate(-90deg);
                top: calc(#{$hamburgerSize} / 4.2);
            }
            &--second {
                transform: translateX(-50%) scale(0.95);
                top: calc(#{$hamburgerSize} / 2.2);
            }
            &--third {
                transform: translateX(-50%) scale(0.95) rotate(90deg);
            }
        }
    }
}

.hamburger {
    &__line {
        display: block;
        width: calc(#{$hamburgerSize} / 2);
        height: 4px;
        background-color: #fff;

        border-radius: 25px;

        position: absolute;
        top: 0;
        left: 50%;

        transform: translateX(-50%) scale(1);
        transition: all 0.4s ease-in;
        &--first {
            transform-origin: right;
            top: calc(#{$hamburgerSize} / 2.2);
        }
        &--second {
            top: calc(#{$hamburgerSize} / 1.5);
        }
        &--third {
            transform-origin: left;
            top: calc(#{$hamburgerSize} / 4.2);
        }
    }
}

.gnb {
    width: 100%;

    @include fun.FlexboxSetting(row, space-between, center, 1em);

    &__item {
        color: white;
        user-select: none;
        transition: color 0.3s ease-in;
        &:hover {
            color: hsl(189, 77.3%, 50%);
        }
        & > a {
            padding: 1em 0;
            letter-spacing: 2px;
            color: inherit;
        }
    }
}
.icon__item {
    & > a {
        padding: 1em 0;
        font-size: 1.2em;
        color: white;
        transition: color 0.3s ease-in;
        &:hover {
            color: hsl(189, 77.3%, 50%);
        }
    }
}

@include view.Tablet {
    .header {
        &__gnb {
            // @include fun.Debug(red);

            width: 80%;
        }

        &__hamburger {
            display: inline-block;
            position: absolute;
            top: 25px;
            left: 50%;
            transform: translateX(-50%);

            z-index: 1000;
        }
        &__gnb {
            position: fixed;

            // @include fun.Debug(red);

            width: 30%;
            // 300px 이동
            height: 0px;
            top: 100px;
            left: 50%;

            z-index: 100;
            transform: translateX(-50%);
            transition: all 0.4s ease;
            background-color: black;
            overflow: hidden;

            &--open {
                height: 300px;
                background-color: rgba(0, 0, 0, 0);

                &:hover {
                    background-color: rgba(0, 0, 0, 1);
                }
            }
        }
    }
    .gnb {
        height: 300px;
        padding: 1rem;
        @include fun.FlexboxSetting(column, space-between, center, 1em);
    }
}
@include view.Mobile {
    .header {
        &__gnb {
            // @include fun.Debug(red);

            width: 80%;
        }

        &__hamburger {
            display: inline-block;
            position: absolute;
            top: 25px;
            left: 50%;
            transform: translateX(-50%);

            z-index: 1000;
        }
        &__gnb {
            position: fixed;

            // @include fun.Debug(red);

            width: 30%;
            // 300px 이동
            height: 0px;
            top: 100px;
            left: 50%;

            z-index: 100;
            transform: translateX(-50%);
            transition: all 0.4s ease;
            background-color: black;
            overflow: hidden;

            &--open {
                height: 300px;
                background-color: rgba(0, 0, 0, 0);

                &:hover {
                    background-color: rgba(0, 0, 0, 1);
                }
            }
        }
    }
    .gnb {
        height: 300px;
        padding: 1rem;
        @include fun.FlexboxSetting(column, space-between, center, 1em);
    }
}
